<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Это база{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>

        <form action="/delete">
            <button class="secret-mode" onclick="return confirm('Уничтожить все данные?')"></button>
        </form>

        <form action="/find" method="POST">
            <label for="name">Поиск агента:</label>
            <input type="text" id="name" name="code_name" placeholder="Никнейм агента в разведке" required>
            <button type="submit" >Поиск</button>
        </form>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>