{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <form action="/submit" method="POST">
        <p>Your Name:</p>
        <input type="text" name="name" required>

        <p>Your Email:</p>
        <input type="email" name="email" required>

        <p>Your Message:</p>
        <textarea name="message" required></textarea><br>

        <button type="submit">Send</button>
    </form>
    <p>Customer Care Department: {{ contact_manager.name }}, +7-(000)-000-00-00<p>
    <p>
        Address: {{ contact_manager.address.city }} city, {{ contact_manager.address.street }},
        {{ contact_manager.address.house_num }}
    </p>
{% endblock %}